* {
  box-sizing: border-box;
  outline: none;
}

#container {
  margin: 1rem;
  font-family: "Monda", sans-serif;
}

.product-image {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.25rem;
}

.image-main {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: -1;
}
.image-main img {
  width: 100%;
  height: 100%;
}

.image-aside img {
  width: 100%;
  height: 100%;
}

.product-details {
  padding: 2rem 0rem;
}


.product-details h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
}
.product-details h1 {
  font-size: 1.2rem;
}
.product-details hr {
  border: 0.5px solid #dbdbdb;
}
.product-details .product-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}
.product-details .size-recommendation {
  margin-top: 1rem;
}
.product-details .sliders {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "l_shoulder i_shoulder" "l_chest i_chest" "l_waist i_waist";
  align-items: center;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}
.product-details input[type=range] {
  cursor: pointer;
}
.product-details .label_collar {
  grid-area: l_collar;
}
.product-details .label_shoulder {
  grid-area: l_shoulder;
}
.product-details .label_chest {
  grid-area: l_chest;
}
.product-details .label_waist {
  grid-area: l_waist;
}
.product-details .input_collar {
  grid-area: i_collar;
}
.product-details .input_shoulder {
  grid-area: i_shoulder;
}
.product-details .input_chest {
  grid-area: i_chest;
}
.product-details .input_waist {
  grid-area: i_waist;
}
.product-details .size-text {
  display: flex;
  align-items: baseline;
}
.product-details .size-text .recommendation-highlight {
  margin-left: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
}
.product-details .size-text .recommendation-highlight::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ee3e5d;
  vertical-align: -2px;
  margin-right: 0.2rem;
}
.product-details .select-buttons {
  margin-top: 0.5rem;
}
.product-details button {
  cursor: pointer;
  padding: 0 0.5rem;
  font-size: 1.1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid grey;
  background: white;
  margin: 0 .1rem;
}
.product-details button:hover {
  border: 1px solid black;
}
.product-details .active {
  border: 0;
  background: #ee3e5d;
  color: white;
  animation: pulse 2s infinite;
}

.product-details .active:hover {
  border: 1px solid red;

}

@keyframes pulse{
   0% { box-shadow: 0 0 0 0px #f78c9f; }
   70% { box-shadow: 0 0 0 5px #ffc8d2; }
   100% { box-shadow: 0 0 0 5px #ffffff; }


}

.product-details input[type=range] {
  -webkit-appearance: none;
  background: grey;
  width: 100%;
  height: 2px;
}
.product-details input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ee3e5d;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}


/*# sourceMappingURL=index.css.map */
@media (min-width:1080px){
  #container {
    display: flex;
  }
  
  .product-image {
    width: 40%;
    display: grid;
    height: 500px;
  }
  .product-details {
    padding: 0 2rem;
  }
  .product-details h1 {
    font-size: 1.4rem;
  }
  .product-details .product-price {
    font-size: 1.5rem;
  }
}