<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Monda" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Fuzzy Logic</title>
</head>
<body>
    <div id="container">
        <div class="product-image">
            <div class="image-main">
                <img src="static/prod_f.jpg" alt="">
            </div>
            <div class="image-aside">
                <img src="static/prod_f.jpg" alt="">
            </div>
            <div class="image-aside">
                <img src="static/prod_d.jpg" alt="">
            </div>
            <div class="image-aside">
                <img src="static/prod_b.jpg" alt="">
            </div>
            <div class="image-aside">
                <img src="static/prod_s.jpg" alt="">
            </div>
        </div>
        <div class="product-details">
            <div class="sliders">
                <label for="Collar" class="label_collar">Collar ( {{userSize.collar}} )</label>
                <label for="Shoulder" class="label_shoulder">Shoulder ( {{userSize.shoulder}} )</label>
                <label for="Chest" class="label_chest">Chest ( {{userSize.chest}} )</label>
                <label for="Waist" class="label_waist">Waist ( {{userSize.waist}} )</label>

                <input v-model="userSize.collar" type="range" min="35" max="44" id="Collar">
                <input v-model="userSize.shoulder" type="range" min="38" max="48" id="Shoulder">
                <input v-model="userSize.chest" type="range" min="90" max="114" id="Chest">
                <input v-model="userSize.waist" type="range" min="40" max="56"  id="Waist">
                <!-- <div class="slider">
                    <label for="volume">Collar</label>
                    <input type="range" min="1" max="100" value="50">
                </div>
                <div class="slider">
                    <label for="volume">Shoulder</label>
                    <input type="range" min="1" max="100" value="50">
                </div>
                <div class="slider">
                    <label for="volume">Chest</label>
                    <input type="range" min="1" max="100" value="50">
                </div>
                <div class="slider">
                    <label for="volume">Waist</label>
                    <input type="range" min="1" max="100" value="50">
                </div> -->
            </div>
            <hr>
            <hr>
            <hr>
            <div class="product-name">
                <h1>Women Navy Blue & Off-White Printed A-Line Kurta</h1>
            </div>
            <div class="brand-name">
                <h3>plusS</h3>
            </div>
            <hr>
            <div class="product-price">₹.1,599</div>
            <div class="size-recommendation">
                <div class="size-text">
                    <div>Sizes</div><div class="recommendation-highlight">Recommended</div>
                </div>
                <div class="select-buttons">
                    <button :class="{ active: recommendedSize=='small' }">S</button>
                    <button :class="{ active: recommendedSize=='medium' }">M</button>
                    <button :class="{ active: recommendedSize=='large' }">L</button>
                    <button :class="{ active: recommendedSize=='xLarge' }">XL</button>
                </div>
                {{calculateCollar()}}
            </div>
        </div>
    </div>
</body>
<script src="index.js"></script>
</html>
