*{
    box-sizing: border-box;
    outline: none;
}
$brand-color:#ee3e5d;

#container{
    margin: 1rem;
    display: flex;
    font-family: 'Monda', sans-serif;
}

.product-image{
    width: 40%;
    height: 500px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: .25rem;

}
.image-main{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: -1;

    img{
        width: 100%;
        height: 100%;
    }
}

.image-aside{

    img{
        width: 100%;
        height: 100%;
    }

}

.product-details{
    padding: 0 2rem;

    h3{
        color: #333;
        font-size: 1rem;
        font-weight: 400;
    }
    h1{
        font-size: 1.4rem;
    }
    hr{
        border: .5px solid #dbdbdb;
    }
    .product-price{
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1rem;
    }
    .size-recommendation{
        margin-top: 1rem;
    }
    .sliders{
        display: grid;
        grid-template-columns: max-content auto;
        grid-template-rows:  repeat(4, 1fr);
        grid-template-areas: 
        "l_collar i_collar"
        "l_shoulder i_shoulder"
        "l_chest i_chest"
        "l_waist i_waist";
        align-items: center;
        grid-gap: 1rem;
        margin-bottom:2rem;
    }
    input[type="range"]{
        cursor: pointer;
    }
    .label_collar{
        grid-area: l_collar;
    }
    .label_shoulder{
        grid-area: l_shoulder;
    }
    .label_chest{
        grid-area: l_chest;
    }
    .label_waist{
        grid-area: l_waist;
    }
    .input_collar{
        grid-area:i_collar
    }
    .input_shoulder{
        grid-area:i_shoulder
    }
    .input_chest{
        grid-area:i_chest
    }
    .input_waist{
        grid-area:i_waist
    }
    .size-text{

        display: flex;
        align-items: baseline;

        .recommendation-highlight{
            margin-left: .5rem;
            font-size: .7rem;
            font-weight: bold;

        }
        .recommendation-highlight::before{
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $brand-color;
            vertical-align: -2px;
            margin-right: .2rem;
        }
    }
    .select-buttons{
        margin-top: .5rem;
    }
    button{
        cursor: pointer;
        padding: 0 .5rem;
        font-size: 1.1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid grey;
        background: white;
    }
    button:hover{
        border: 1px solid black;
    }
    .active{
        border: 1px solid white;
        background: $brand-color;
        color: white;
    }
    input[type="range"]{
        -webkit-appearance: none;
        background: grey;
        width: 100%;
        height: 2px;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: $brand-color;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid white;
        cursor: pointer;
        transition: .3s ease-in-out;
      }
}
.recommendation-highlight{
    
}